<app-navbar>

</app-navbar>

<div class="container mb-5">

    <div class="row mb-5">

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-3 mt-4">

            <app-cards rutaImagen="/assets/images/obituario.jpg" title="Obituarios">

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, odio.</p>
            </app-cards>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-3 mt-4">
            <app-cards rutaImagen="/assets/images/lapidas.jpg" title="Lápidas">

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, odio.</p>
            </app-cards>

        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-3 mt-4">

            <app-cards rutaImagen="/assets/images/sedes.jpg" title="Nuestras sedes">

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, odio.</p>
            </app-cards>
        </div>

        <div class="row">


        </div>

    </div>

    <section class="text-center mb-5">
        <h1>Puede interesarte</h1>
    </section>

    <div class="row">

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 px-0 mb-3">
            <app-cardgroup rutaimg1="/assets/images/mascotas.jpg" titulo1="Plan Mascotas">
                <p>Hemos diseñado un plan como el que tu mascota se merece, con una ceremonia inolvidable como la que
                    siempre has querido.</p>
            </app-cardgroup>

        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 px-0 mb-3">
            <app-cardgroup rutaimg1="/assets/images/mar.jpg" titulo1="Cenizas al mar">
                <p>Volver al a esencia: más que depositar una parte tuya en algún lugar, la amplitud del mar llevará por
                    siempre tus mejores recuerdos.</p>
            </app-cardgroup>

        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 px-0 mb-3 ">
            <app-cardgroup rutaimg1="/assets/images/duelo.jpg" titulo1="Como sobrellevar el duelo">
                <p>Queremos decirte que no estás solo y que lamentamos sinceramente la pérdida de tu ser
                    querido.</p>
            </app-cardgroup>

        </div>


    </div>

</div>

<app-pie></app-pie>