<app-navbar>
 
</app-navbar>
<p>home works!</p>
<app-cards rutaImagen="asdsddsdsd" title="titulo1">
    <h1>etifngsndf</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, odio.</p>
</app-cards>

<app-cards rutaImagen="asdsddsdsd" title="titulo1">
    <h1>fgbdfs</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, odio.</p>
</app-cards>

<app-cards rutaImagen="asdsddsdsd" title="titulo1">
    <h1>iokujmynht</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, odio.</p>
</app-cards>