<app-navbar>

</app-navbar>

<div class="container mb-5">

    <div class="row mb-5">

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-3 mt-4">

            <app-cards rutaImagen="/assets/images/obituario.jpg" title="Obituarios">

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, odio.</p>
            </app-cards>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-3 mt-4">
            <app-cards rutaImagen="/assets/images/lapidas.jpg" title="Lápidas">

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, odio.</p>
            </app-cards>

        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-3 mt-4">

            <app-cards rutaImagen="/assets/images/sedes.jpg" title="Nuestras sedes">

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, odio.</p>
            </app-cards>
        </div>

        <div class="row">


        </div>

    </div>

    <section class="text-center mb-3">
        <h1>Subtitulo</h1>
    </section>

    <div class="row">

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 px-0 mb-3">
            <app-cardgroup rutaimg1="/assets/images/mascotas.jpg" titulo1="Plan Mascotas">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda beatae adipisci, delectus suscipit
                    consequuntur atque molestias, iste similique cum reiciendis rerum saepe ex aliquam qui numquam ipsam
                    quis laudantium fugiat!</p>
            </app-cardgroup>

        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 px-0 mb-3">
            <app-cardgroup rutaimg1="/assets/images/mar.jpg" titulo1="Cenizas al mar">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique quia a beatae cum error blanditiis
                    dolor totam laboriosam explicabo, soluta sed dicta impedit aperiam illo, aspernatur excepturi culpa
                    at minima.</p>
            </app-cardgroup>

        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 px-0 mb-3 ">
            <app-cardgroup rutaimg1="/assets/images/duelo.jpg" titulo1="Como sobrellevar el duelo">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem voluptas aperiam sit fuga ex,
                    corrupti eligendi enim impedit, omnis dignissimos ipsum nisi illum esse aliquam minus. Magni
                    suscipit hic debitis.</p>
            </app-cardgroup>

        </div>


    </div>

</div>

<app-pie></app-pie>