<app-navbar>
</app-navbar>

<div class="container mt-5">
    <img src="/assets/images/corosHead.jpg" class="img-fluid" alt="Responsive image">
</div>


<div class="container">

    <div class="row mt-5 text-center" style="margin: 0 auto;">

        <div class="  col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-4">

            <h5 class="font-italic">Ave María</h5>

            <iframe width="300" height="200" src="https://www.youtube.com/embed/ZwCbDWUjb6I" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

        </div>

        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-4">

            <h5 class="font-italic">Instrumental</h5>

            <iframe width="300" height="200" src="https://www.youtube.com/embed/jFr7jNMBWtI" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

        </div>

    </div>

    <div class="row mt-5 text-center">

        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-4">
            <h5 class="font-italic">Instrumental 2</h5>
            <iframe width="300" height="200" src="https://www.youtube.com/embed/FxUtdayf424" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

        </div>

        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-4">
            <h5 class="font-italic">Pescador de hombres</h5>
            <iframe width="300" height="200" src="https://www.youtube.com/embed/cwLEJRBsbWo" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

        </div>


    </div>

</div>

<app-pie></app-pie>