<div  id="menu">

  <nav class="navbar navbar-expand-md nav bg-dark navbar-dark" id="navbarSupportedContent">

    <a class="navbar-brand ml-5" href="#">Funeraria Descanso Eterno</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav ml-auto">

        <li _ngcontent-lrl-c4 class="nav-item active">
          <a class="nav-link text-light" routerLink="/">Inicio</a>
        </li>

        <li _ngcontent-lrl-c4 class="nav-item active">

        </li>

        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle  text-light" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Servicios
          </a>
          <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item  text-light" routerLink="/sepelios">Sepelios</a>
            <a class="dropdown-item  text-light" routerLink="/cremaciones">Cremación</a>
            <a class="dropdown-item  text-light" href="#" data-toggle="modal" data-target="#exampleModal">prueba</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle  text-light" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Productos
          </a>
          <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item  text-light" routerLink="/flores">Flores</a>
            <a class="dropdown-item  text-light" routerLink="/coros">Coros de música</a>
          </div>
        </li>


        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/tarifas">Tarifas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/contactenos">Contactenos</a>
        </li>

      </ul>
    </div>
  </nav>

</div>
