<app-navbar>
</app-navbar>




<div class="container">
  <h1 class="mt-3 mb-3">Costos Funerarios — ¿Qué Está Incluido?</h1>

  <p class="mt-5 mb-5">
    Cuando usted está planeando un funeral para usted o un ser querido, hay muchas decisiones que tomar. No hay una
    única forma de hacer un funeral, y por esa razón el costo promedio del funeral varía bastante. Un funeral puede
    ser
    un evento muy simple, o puede ser un evento muy elaborado. Puede costar un poco o mucho. Así como cada persona es
    diferente, también lo es cada funeral.
  </p>

</div>
<br>

<div class="container">

  <table class="table table-striped mb-5">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">SERVICIO</th>
        <th scope="col">TARIFA AFILIADO</th>
        <th scope="col">TARIFA PARTICULAR</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Embalsamamiento</td>
        <td>$ 3.000.000</td>
        <td>$ 4.500.000</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Cremación</td>
        <td>$ 300.000</td>
        <td>$ 500.000</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Carroza Funebre</td>
        <td>$ 150.000</td>
        <td>$ 300.000</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
</div>
<br>




<app-pie></app-pie>
