<app-navbar>
</app-navbar>

<div class="container self-align-center">
<img src="/assets/images/tarifaHeader.jpg" >
</div>



<body class=" mb-5">

  <div class="container">

    <h1 class=" ">Costos Funerarios — ¿Qué Está Incluido?</h1>
  </div>
  <br>
  <div class="container">
    <p>
      Cuando usted está planeando un funeral para usted o un ser querido, hay muchas decisiones que tomar. No hay una
      única forma de hacer un funeral, y por esa razón el costo promedio del funeral varía bastante. Un funeral puede ser
      un evento muy simple, o puede ser un evento muy elaborado. Puede costar un poco o mucho. Así como cada persona es
      diferente, también lo es cada funeral.
    </p>

  </div>
</body>

<footer class="footer contend">
  <app-pie></app-pie>
</footer>

