<app-navbar>
</app-navbar>

<div class="container mt-5">
    <img src="/assets/images/floresHead.jpg" class="img-fluid" alt="Responsive image">
</div>


<div class="container">

    <div class="row mt-5">

        <div class="row">

            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 px-0 mb-3 font-italic text-justify">
                <app-cardgroup rutaimg="/assets/images/flores1.jpg" titulo="Corona Anturio">
                    <p>expresa hospitalidad, amabilidad, felicidad… transmite alegría, fortaleza, y resistencia.</p>
                </app-cardgroup>

            </div>

            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 px-0 mb-3 font-italic text-justify">
                <app-cardgroup rutaimg="/assets/images/flores2.jpg" titulo="Corona Orquídeas">
                    <p>Las Orquídeas representan Amor, afecto, admiración y cariño.</p>
                </app-cardgroup>

            </div>

            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 px-0 mb-3 font-italic text-justify">
                <app-cardgroup rutaimg="/assets/images/flores3.jpg" titulo="Pedestal Claveles">
                    <p>Los claveles significan unión,se usan para presentar respetos a personas
                        muy cercanas</p>
                </app-cardgroup>

            </div>


        </div>


    </div>


</div>

<app-pie></app-pie>