<app-navbar>
</app-navbar>

<div class="container mt-5">
  <img src="/assets/images/tranquilo.jpg" class="img-fluid" alt="Responsive image">
</div>


<div class="container">

    <div class="row mt-5">

        <div class="  col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mb-4">

            
            <form id="form_contacto" method="post">

                <input id="name" placeholder="Nombres" type="text" class="form-control" required><br>
                <input id="name" placeholder="Apellidos" type="text" class="form-control" required><br>
                <input id="name" placeholder="correo electrónico" type="text" class="form-control" required><br>
                <textarea id="message" placeholder="Déjenos un mensaje" type="text" class="form-control"
                    rows="4"></textarea><br>

                <input type="submit" value="Send Message" class="btn btn-primary">
            </form>
        </div>


        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
            <form>

                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.6870340907803!2d-74.7874908!3d10.9869787!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef42d6495db4481%3A0xda626b57e9840495!2sInstituci%C3%B3n+Universitaria+ITSA!5e0!3m2!1ses-419!2sco!4v1544820860851"
                    width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>

            </form>
        </div>

    </div>

  
</div>

<app-pie></app-pie>